<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>insertreadingController</servlet-name>
        <servlet-class>com.bill.reading.insertreadingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invoiceController</servlet-name>
        <servlet-class>com.bill.invoice.invoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertReadingCont</servlet-name>
        <servlet-class>com.bill.reading.insertReadingCont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusController</servlet-name>
        <servlet-class>com.cusinfo.controller.CusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.admin.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterController</servlet-name>
        <servlet-class>com.admin.controller.AdminRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusSearchController</servlet-name>
        <servlet-class>com.search.CusSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertreadingController</servlet-name>
        <url-pattern>/insertreadingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invoiceController</servlet-name>
        <url-pattern>/invoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertReadingCont</servlet-name>
        <url-pattern>/insertReadingCont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusController</servlet-name>
        <url-pattern>/CusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterController</servlet-name>
        <url-pattern>/AdminRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusSearchController</servlet-name>
        <url-pattern>/CusSearchController</url-pattern>
    </servlet-mapping>
</web-app>
